*{
    box-sizing:border-box;
}
#SignUpForm{
    height: 100vh;
    display:flex;
    align-items:stretch;
    margin-bottom: 100px;
    justify-content: center; 
    flex-direction: row;
}
.signupformleft{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom, #FFDFEB, #E2FAFF);
    border:1.5px solid #E7E7E7 ;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;

}
.signupformleft h5{
    color:#FF003D ;
    font-weight: 600;
    margin:20px 20px 0px 20px;
}
.signupformleft img{
    height: auto;
    margin: 0px 20px;
}
.googlesignup{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}
#google{
    margin: 0px;
    height: 48px;
}
.googlesignup h5{
    margin: 0px;
    color:#0E063D;
}


.signupformright{
    display: flex;
    flex-direction: column;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    border:1.5px solid #E7E7E7 ;
}
.signupformright h3{
    font-weight: 600;
    font-size: 16px;
    margin:20px 0px 15px 75px ;
}
.signupformright h5{
    font-weight: 500;
    font-size: 14px;
    margin:15px 0px 10px  75px ;
}
.forminput{
    margin-left: 75px;
    border: 1px solid #B2B2B2;
    border-radius: 8px;
    padding: 10px 10px;
    width: 370px;
}
.signupformright p{
    font-size: 14px;
    margin:15px 75px 0px  75px ;
}
.signupformright button{
    margin:30px 0px 30px  75px ;
    padding: 15px 80px;
    background: transparent;
    border: 1.5px solid #00D1FF;
    color:#00D1FF;
    font-size: 16px;
    border-radius: 10px;
    transition: .3s ease all;
}

.signupformright button:hover{
    background-color:#00D1FF;
    color: white;
}